<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-roomService</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/aboutStyles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <%- include('../partials/navbar.ejs')-%>
    <div class="loginArea-fluid">
        <div class="row">
            <div class="col">
                <img class="image" src="images/conversation.png" alt="">
            </div>
            <div class="col">
                <div class="about">
                    <h1>About</h1>
                    <p>This is a real time chat application where you can login with any username and create a chat room
                        for your friends. They can join the same room using the room ID you provide.</p>
                    <p>As you close the chat window all your chats are deleted!</p>
                    <p>The same rooms can be again joined as long as you have the room IDs!</p>
                    <p>Share your chats have a fun time with NO RECORDS!</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>